body {

	background-image: url(https://static1.squarespace.com/static/557075b9e4b01218e642f1ee/t/559ae17ae4b0cbda1899f2cb/1436213689802/grey-background-hd-564.jpg?format=2500w);
	background-size: cover;
}

.form-group input {
	width: 100%;
}

.form-group textarea {
	max-width: 100%;
	min-width: 100%;
}

.thumbnail {
	background-image: url(http://wallpaper-gallery.net/images/notebook-wallpaper/notebook-wallpaper-3.jpg)
	background-size: 100%;
	
}

.thumbnail img:hover {
	border-radius: 30px;
	transition: 1s all;
}

.mainNav li {
	list-style: none;
	display: inline-block;
	font-size: 2rem;
			margin-right: 30px;
			margin-left: 30px;

}
.mainNav {
		margin: 9px;

		margin-bottom: -40px;
}

.mainNav li a{
	text-decoration: none;
	color: grey;
}

.mainNav li a:hover{
	color: white;
	transition: 1s all;
}

a:hover{
	color: white;
	transition: 1s all;
}
li{
	list-style: none;
}

.workingHours {
	margin: 20px;
}
iframe{
	margin-top: 150px;
}
