body {
	background-image: url(https://www.colourbox.de/preview/1525017-retro-bricks-wall-background.jpg);
}
.form-group input {
	width: 100%;
}

.form-group textarea {
	max-width: 100%;
	min-width: 100%;
}

.thumbnail {
	background-image: url(http://wallpaper-gallery.net/images/notebook-wallpaper/notebook-wallpaper-3.jpg)
	background-size: 100%;
	
}